@using SemestralnaPraca.Controllers
@{
    ViewData["Title"] = "Podujatia";

    List<PhotoModel> photos = PhotoController.GetGallery("event");
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        PODUJATIA
    </h1>
    <div class="row">
        @foreach (PhotoModel item in photos)
        {
            <component type="typeof(Gallery)" param-File="@(item.TITLE)" param-Category="@(item.CATEGORY)" param-Orientation="@(item.ORIENTATION)" render-mode="ServerPrerendered" />
        }
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />