@using SemestralnaPraca.Controllers

@{
    ViewData["Title"] = "Formulár";

    List<string> categories = DataResolver.GetCategories();
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        MÁM ZÁUJEM O FOTENIE
    </h1>
    <p class="light-text padding-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
        hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
        In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
    </p>
    <form id="form" method="post" enctype="multipart/form-data" href="Home/FormSubmit">
        <div class="form-group row padding-light">
            <label for="categoryInput" class="col-xl-2 col-form-label">Kategória</label>
            <div class="col-xl-10">
                <select class="form-control light-border bright-border dark-background bright-color rounded-0" name="Category" id="categoryInput">
                    @for(int i = 0; i < categories.Count; i++)
                    {
                        <option value="@i">@categories[i]</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row padding-light">
            <label for="descriptionInput" class="col-xl-2 col-form-label">Popis</label>
            <div class="col-xl-10">
                <textarea class="form-control light-border bright-border dark-background bright-color rounded-0" rows="5" name="Description" id="descriptionInput"></textarea>
            </div>
        </div>
        <button type="submit" class="highlight btn btn-primary light-border bright-border dark-background bright-color rounded-0 m-3">ODOSLAŤ</button>
    </form>
    <p class="success-color light-text">@ViewBag.Reply</p>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />