@using SemestralnaPraca.Controllers

@{
    ViewData["Title"] = "Formulár";

    List<string> categories = PhotoController .GetCategories();
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        MÁM ZÁUJEM O FOTENIE
    </h1>
    <form id="form" method="post" enctype="multipart/form-data" href="Home/FormSubmit">
        <div id="category" class="form-group row padding-light">
            <label for="categoryInput" class="col-xl-2 col-form-label">Kategória</label>
            <div class="col-xl-10">
                <select class="form-control light-border bright-border dark-background bright-color rounded-0" name="Category" id="categoryInput">
                    @for(int i = 0; i < categories.Count; i++)
                    {
                        <option value="@i">@categories[i]</option>
                    }
                </select>
            </div>
        </div>
        <div id="description" class="form-group row padding-light">
            <label for="descriptionInput" class="col-xl-2 col-form-label">Popis</label>
            <div class="col-xl-10">
                <textarea class="form-control light-border bright-border dark-background bright-color rounded-0" rows="5" name="Description" id="descriptionInput"></textarea>
            </div>
            <a id="descriptionMessage"></a>
        </div>
        <div id="date" class="form-group row padding-light">
            <label for="dateInput" class="col-xl-2 col-form-label">Plánované</label>
            <div class="col-xl-10">
                <input type="date" class="form-control light-border bright-border dark-background bright-color rounded-0 date" name="Date" id="dateInput">
            </div>
            <a id="dateMessage"></a>
        </div>
        <button type="submit" class="highlight btn btn-primary light-border bright-border dark-background bright-color rounded-0 m-3">ODOSLAŤ</button>
    </form>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessReply))
    {
        <p class="success-color light-text">@ViewBag.SuccessReply</p>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorReply))
    {
        <p class="error-color light-text">@ViewBag.ErrorReply</p>
    }
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />

<script src="~/js/formvalidation.js"></script>