@using SemestralnaPraca.Controllers
@{
    ViewData["Title"] = "Filip Zaťko";
}

<div class="title-style background-format" style="background-image: url('/image/background/1.jpg');">
    <div class="title-overlay heavy-border bright-border">
        <h1 class="text-center size-text padding-light bright-color">FILIP ZAŤKO</h1>
    </div>
</div>

<div class="dark-background">
    <div class="container-fluid padding-heavy bright-color text-center">
        <div class="row justify-content-center">
            <div class="col-xl padding-medium justify-content-center">
                <img class="light-border bright-border" src="/image/showcase/wedding.jpg" alt="svadby">
            </div>
            <div class="col-xl d-flex flex-column padding-medium justify-content-center">
                <h2>
                    <a class="heavy-text bright-color mb-3" href="/page/gallery/wedding.html">
                        SVADBY
                    </a>
                </h2>
                <p class="light-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
                    hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
                    In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
                </p>
            </div>
        </div>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered"/>

<div class="dark-background">
    <div class="container-fluid padding-heavy bright-color text-center">
        <div class="row justify-content-center">
            <div class="col-xl d-flex flex-column padding-medium justify-content-center">
                <h2>
                    <a class="heavy-text bright-color mb-3" href="/page/gallery/event.html">
                        PODUJATIA
                    </a>
                </h2>
                <p class="light-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
                    hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
                    In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
                </p>
            </div>
            <div class="col-xl padding-medium justify-content-center">
                <img class="light-border bright-border" src="/image/showcase/event.jpg" alt="podujatia">
            </div>
        </div>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("3.jpg")" render-mode="ServerPrerendered"/>

<div class="dark-background">
    <div class="container-fluid padding-heavy bright-color text-center">
        <div class="row justify-content-center">
            <div class="col-xl padding-medium justify-content-center">
                <img class="light-border bright-border" src="/image/showcase/car.jpg" alt="vozidlá">
            </div>
            <div class="col-xl d-flex flex-column padding-medium justify-content-center">
                <h2>
                    <a class="heavy-text bright-color mb-3" href="/page/gallery/car.html">
                        VOZIDLÁ
                    </a>
                </h2>
                <p class="light-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
                    hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
                    In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
                </p>
            </div>
        </div>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("4.jpg")" render-mode="ServerPrerendered"/>

<div class="dark-background">
    <div class="container-fluid padding-heavy bright-color text-center">
        <div class="row justify-content-center">
            <div class="col-xl d-flex flex-column padding-medium justify-content-center">
                <h2>
                    <a class="heavy-text bright-color mb-3" href="/page/gallery/nature.html">
                        PRÍRODA
                    </a>
                </h2>
                <p class="light-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
                    hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
                    In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
                </p>
            </div>
            <div class="col-xl padding-medium justify-content-center">
                <img class="light-border bright-border" src="/image/showcase/nature.jpg" alt="príroda">
            </div>
        </div>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("5.jpg")" render-mode="ServerPrerendered"/>

<div class="dark-background">
    <div class="container-fluid padding-heavy bright-color text-center">
        <div class="row justify-content-center">
            <div class="col-xl padding-medium justify-content-center">
                <img class="light-border bright-border" src="/image/showcase/other.jpg" alt="iné">
            </div>
            <div class="col-xl d-flex flex-column padding-medium justify-content-center">
                <h2>
                    <a class="heavy-text bright-color mb-3" href="/page/gallery/other.html">
                        INÉ
                    </a>
                </h2>
                <p class="light-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus ex quis dolor ullamcorper, quis
                    hendrerit est rutrum. Morbi quis ex luctus, mollis ipsum id, lobortis metus. Vestibulum nec arcu mi.
                    In at sem nibh. In pulvinar mollis lacus, ac hendrerit diam convallis sit amet.
                </p>
            </div>
        </div>
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("6.jpg")" render-mode="ServerPrerendered"/>