@using SemestralnaPraca.Controllers
@inject IHttpContextAccessor context;

@{
    ViewData["Title"] = "Správa žiadostí";

    List<RequestModel> requests = RequestController.GetRequests(
                                    context.HttpContext.Session.GetString(Variables.Mail),
                                    (Translator.Access.FirstOrDefault(x => x.Value == context.HttpContext.Session.GetString(Variables.Role)).Key >= 2) ? true : false);

    if (requests == null || requests.Count == 0)
    {
        ViewBag.Reply = "neexistujú požiadavky";
    }
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        ŽIADOSTI
    </h1>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessReply))
    {
        <p class="success-color light-text">@ViewBag.SuccessReply</p>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorReply))
    {
        <p class="error-color light-text">@ViewBag.ErrorReply</p>
    }
    @foreach (RequestModel item in requests)
    {
        <component type="typeof(Request)" param-Category="@(item.CATEGORY)" param-Date="@(item.SCHEDULED)" param-Id="@(item.ID)" render-mode="ServerPrerendered" />
    }
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />