@using SemestralnaPraca.Controllers
@inject IHttpContextAccessor context;

@{
    ViewData["Title"] = "Žiadosť";

    List<string> statuses = Translator.Status.Values.ToList();
    string value;

    if (ViewBag.Id == null)
    {
        value = context.HttpContext.Session.GetString(Variables.Request);
    }
    else
    {
        value = ViewBag.Id;
        context.HttpContext.Session.SetString(Variables.Request, value);
    }

    RequestModel request = RequestController.GetRequest(value);

    bool adminAccess = (Translator.Access.FirstOrDefault(x => x.Value == context.HttpContext.Session.GetString(Variables.Role)).Key >= 2) ? true : false;
    bool statusAccess = (request.STATUS.Equals(Translator.Status[1])) ? true : false;

    string createdFormat = request.CREATED.Split('/')[2] + "-" + request.CREATED.Split('/')[1] + "-" + request.CREATED.Split('/')[0];
    string scheduledFormat = request.SCHEDULED.Split('/')[2] + "-" + request.SCHEDULED.Split('/')[1] + "-" + request.SCHEDULED.Split('/')[0];
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        ŽIADOSŤ
    </h1>
    <form id="form" method="post" enctype="multipart/form-data" href="Home/RequestEdit">
        <div id="id" class="form-group row padding-light">
            <label for="idInput" class="col-xl-2 col-form-label">Číslo žiadosti</label>
            <div class="col-xl-10">
                <input class="form-control light-border bright-border dark-background bright-color rounded-0 highlight highlight-background" name="id" id="idInput" readonly value="@request.ID">
            </div>
        </div>
        <div id="category" class="form-group row padding-light">
            <label for="categoryInput" class="col-xl-2 col-form-label">Kategória</label>
            <div class="col-xl-10">
                <input class="form-control light-border bright-border dark-background bright-color rounded-0 highlight highlight-background" name="category" id="categoryInput" readonly value="@request.CATEGORY">
            </div>
        </div>
        @if(adminAccess)
        {
            <div id="user" class="form-group row padding-light">
                <label for="userInput" class="col-xl-2 col-form-label">Vytvoril</label>
                <div class="col-xl-10">
                    <input class="form-control light-border bright-border dark-background bright-color rounded-0 highlight highlight-background" name="user" id="userInput" readonly value="@request.USER">
                </div>
            </div>
        }
        <div id="created" class="form-group row padding-light">
            <label for="createdInput" class="col-xl-2 col-form-label">Vytvorené</label>
            <div class="col-xl-10">
                <input type="date" class="form-control light-border bright-border dark-background bright-color rounded-0 date highlight-background" name="Created" id="createdInput" value="@(createdFormat)" readonly>
            </div>
            <a id="createdMessage"></a>
        </div>
        @if(adminAccess || statusAccess)
        {
            <div id="scheduled" class="form-group row padding-light">
                <label for="scheduledInput" class="col-xl-2 col-form-label">Plánované</label>
                <div class="col-xl-10">
                    <input type="date" class="form-control light-border bright-border dark-background bright-color rounded-0 date" name="Scheduled" id="scheduledInput" value="@(scheduledFormat)">
                </div>
                <a id="scheduledMessage"></a>
            </div>
            <div id="description" class="form-group row padding-light">
                <label for="descriptionInput" class="col-xl-2 col-form-label">Popis</label>
                <div class="col-xl-10">
                    <textarea class="form-control light-border bright-border dark-background bright-color rounded-0" rows="5" name="Description" id="descriptionInput"></textarea>
                </div>
                <a id="descriptionMessage"></a>
            </div>
        }
        else
        {
            <div id="scheduled" class="form-group row padding-light">
                <label for="scheduledInput" class="col-xl-2 col-form-label">Plánované</label>
                <div class="col-xl-10">
                    <input type="date" class="form-control light-border bright-border dark-background bright-color rounded-0 date highlight-background" name="Scheduled" id="scheduledInput" value="@(scheduledFormat)" readonly>
                </div>
                <a id="scheduledMessage"></a>
            </div>
            <div id="description" class="form-group row padding-light">
                <label for="descriptionInput" class="col-xl-2 col-form-label">Popis</label>
                <div class="col-xl-10">
                    <textarea class="form-control light-border bright-border dark-background bright-color rounded-0 highlight-background" rows="5" name="Description" id="descriptionInput" readonly></textarea>
                </div>
                <a id="descriptionMessage"></a>
            </div>
        }
        @if(adminAccess)
        {
            <div id="status" class="form-group row padding-light">
                <label for="statusInput" class="col-xl-2 col-form-label">Status</label>
                <div class="col-xl-10">
                    <select class="form-control light-border bright-border dark-background bright-color rounded-0" name="Status" id="statusInput">
                        @for (int i = 0; i < statuses.Count; i++)
                        {
                            if (request.STATUS.Equals(Translator.Status[i + 1]))
                            {
                                <option selected value="@i">@statuses[i]</option>
                            }
                            else
                            {
                                <option value="@i">@statuses[i]</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div id="result" class="form-group row padding-light">
                <label for="resultInput" class="col-xl-2 col-form-label">Výsledok</label>
                <div class="col-xl-10">
                    <input class="form-control light-border bright-border dark-background bright-color rounded-0 highlight" name="result" id="resultInput" value="@request.RESULT">
                </div>
                <a id="resultMessage"></a>
            </div>
        }
        else
        {
            <div id="status" class="form-group row padding-light">
                <label for="statusInput" class="col-xl-2 col-form-label">Status</label>
                <div class="col-xl-10">
                    <input class="form-control light-border bright-border dark-background bright-color rounded-0 highlight highlight-background" name="status" id="statusInput" readonly value="@request.STATUS">
                </div>
            </div>
            <div id="result" class="form-group row padding-light">
                <label for="resultInput" class="col-xl-2 col-form-label">Výsledok</label>
                <div class="col-xl-10">
                    <input class="form-control light-border bright-border dark-background bright-color rounded-0 highlight highlight-background" name="result" id="resultInput" readonly value="@request.RESULT">
                </div>
                <a id="resultMessage"></a>
            </div>
        }
        <button type="submit" class="highlight btn btn-primary light-border bright-border dark-background bright-color rounded-0 m-3">UPRAVIŤ</button>
    </form>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessReply))
    {
        <p class="success-color light-text">@ViewBag.SuccessReply</p>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorReply))
    {
        <p class="error-color light-text">@ViewBag.ErrorReply</p>
    }
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />