@using SemestralnaPraca.Controllers
@inject IHttpContextAccessor context;

@{
    ViewData["Title"] = "Správa používateľov";

    List<UserModel> users = UserController.GetUsers(Translator.Access.FirstOrDefault(x => x.Value == context.HttpContext.Session.GetString(Variables.Role)).Key);

    if (users == null || users.Count == 0)
    {
        ViewBag.Reply = "neexistujú používatelia";
    }
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        POUŽÍVATELIA
    </h1>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessReply))
    {
        <p class="success-color light-text">@ViewBag.SuccessReply</p>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorReply))
    {
        <p class="error-color light-text">@ViewBag.ErrorReply</p>
    }
    @foreach (UserModel item in users)
    {
        <component type="typeof(User)" param-Mail="@(item.MAIL)" param-FullName="@(item.NAME + " " + item.SURNAME)" render-mode="ServerPrerendered" />
    }
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />