@using Microsoft.Data.SqlClient
@{
    ViewData["Title"] = "Svadby";

    List<PhotoModel> photos = new List<PhotoModel>();

    string query = "select * from PHOTOS where CATEGORY='wedding'";
    string connectionString = "Data Source=localhost;Persist Security Info=True;User ID=sa;Password=yourStrong(!)Password";

    using (SqlConnection connection = new SqlConnection(connectionString))
    {
        connection.Open();
        using (SqlCommand cmd = new SqlCommand(query, connection))
        {
            using (SqlDataReader reader = cmd.ExecuteReader())
            {
                while (reader.Read())
                {
                    PhotoModel photo = new PhotoModel();

                    photo.TITLE = (string)reader[1];
                    photo.CATEGORY = (string)reader[2];
                    photo.ORIENTATION = (string)reader[3];

                    photos.Add(photo);
                }
            }
        }
    }
}

<component type="typeof(Splitter)" param-File="@("1.jpg")" render-mode="ServerPrerendered" />

<div class="dark-background padding-heavy text-center light-text bright-color">
    <h1 class="heavy-text mb-3">
        SVADBY
    </h1>
    <div class="row">
        @foreach (PhotoModel item in photos)
        {
            <component type="typeof(Photo)" param-File="@(item.TITLE)" param-Category="@(item.CATEGORY)" param-Orientation="@(item.ORIENTATION)" render-mode="ServerPrerendered" />
        }
    </div>
</div>

<component type="typeof(Splitter)" param-File="@("2.jpg")" render-mode="ServerPrerendered" />